    *{
        font-family: 'Nunito', sans-serif;
        font-weight:500;
        margin:0;
        padding:0;
    }
    .header{
        background-color: #1f1f21;
        padding:0 6.5rem;
        margin: 0;
    }
    .header div{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top:20px;
        margin:0;
        white-space: nowrap;
        padding-bottom:10px;
    }
    /*Fillimi i pjeses se logos*/

    .header div .logo-container .logo{
        margin-right: 15px;
        text-decoration: none;
        font-weight: 800;
    }
    .header div .logo-container .logo img{
    width:160px;
    }

    .header div .logo-container .gjuha{
        padding:0;
    }
    .header div .logo-container .gjuha .albanian{
        background: none;
        border:none;
        color: #595e5e;
        margin-right: 2.5px;
        margin-left:2.5px;
        cursor:pointer;
        font-size:14px;
    }
    .header div .logo-container .gjuha button.active{
        border-bottom: 2px solid #94a8b3;
        color:white;
    }
    .header div .logo-container .gjuha .english{
        background: none;
        border:none;
        color: #595e5e;
        margin-left:2.5px;  
        cursor:pointer;
        font-size:14px;
    }
    .header div .logo-container .shtetet{
        background:none;
        border: none;
        color: white; 
        width: 70px;
        border-radius: 5px;
        font-size:14px;  
        margin:0;
        padding:0;  
        outline:none;
        cursor: pointer;
    }
    .header div .logo-container .shtetet option{
        color:white;
        background-color: #212121;
        border-radius: 5px;
        border:none;
    }
    .header div .logo-container .shtetet option:hover{
        background-color: #595e5e;
        cursor: pointer;

    }

    /*Perfundimi i pjeses se logos*/

    /*Fillimi i header-links*/
    .header div .header-links li{
        list-style-type: none;
        margin-left: 10px;
        margin-right:10px;
        padding-right: 5px;
        padding-left: 5px;
    }
    .header div .header-links li a{
        text-decoration: none;
        color: white;
        transition: 0.5s ease;
        font-size: 14px;
    }
    .header div .header-links li a:hover{
        font-size: 15px;
        color:#3c9b9b; 
        transition: 0.3s ease-in-out;
    }
    /*Perfundimi i pjeses se header-linqeve*/

    .header div .contact .phone{
        background:none;
        border:none;
        color:white;
        font-size:14px;
        text-align: center;
        font-size: 14px;
        margin-bottom:0;
    }
    .header div .contact .sendMessage{
        text-decoration: none;
        color:white;
        margin-left:20px;
        font-size:14px;
    }



    /*Navbar*/

    .navigacioni{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #28272c;
        padding: 10px 6.5rem;
        align-items: center;
        white-space: nowrap;
    }
    nav .shopByCategory{
        color: white;
    }
    nav .shopByCategory h5 i{
        font-size: 20px;
        cursor: pointer;
        margin-right: 10px;
    }
    nav .shopByCategory h5{
        padding: 0;
        margin: 0;
        align-items: center;
    }
    nav .searchContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        position:relative;
        left:1.8rem;
    }

    nav .searchContainer .searchInput{
        padding: 7px;
        width: 555px;
        border-radius: 12px;
        padding-left: 50px;
        background-color: #3d3c41;
        color: white;
        border:none;
    }
    nav .searchContainer i{
        color: white;
        font-size:20px;
        position: absolute;
        margin-left: 15px;
    }
    nav .searchContainer .searchInput:focus{
        outline:none; 
    }
    nav .searchContainer .searchButton{
        background: #3c9b9b;
        border:none;
        color: white;
        position: absolute;
        z-index:1;
        padding: 4px 12px;
        border-radius: 10px;
        margin-left: 86.4%;
        border-bottom: 3px solid #2a6d6d;
    }
    nav .searchContainer .searchButton:active{
        border-bottom: none;
    }

    nav .userContainer{
        color:white;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav .userContainer .account{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav .userContainer .account .Accountlogo{
        border-radius: 360px;
        width:40px;
        height: 40px;
        margin-right: 5px;
        cursor: pointer;
    }
    nav .userContainer .account .personalInformation{
        height: 40px;
    }

    nav .userContainer .account .personalInformation p{
        font-size: 15px;
        padding: 0;
        margin: 0;
        width: 60px;
        cursor: pointer;
    }
    nav .userContainer .account .personalInformation span{
        font-size: 10px;    
        opacity: 0.5;
        padding:0;
        margin: 0;
        position: absolute;
        width:auto;
        width: 60px;
    }
    nav .userContainer .account i{
        cursor: pointer;
    }

    nav .userContainer .userContainerItems{
        margin-left: 10px;
        margin-right: 10px;
    }
    nav .userContainer a{
        font-size: 20px;
        color: white;
    }
    nav .userContainer .heart:hover{
        color: red;
    }
    nav .userContainer .cart:hover{
        color :#1877F2;
    }

    nav .userContainer .account .profileDropdown{
        position: absolute;
        z-index: 2;
        width: 300px;
        background-color: white;
        right:100px;
        margin-top: 285px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        border-radius: 12px;
    }

    nav .userContainer .account .profileDropdown li{
        list-style: none;
        /*padding: 10px 15px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    nav .userContainer .account .profileDropdown li a{
        color: black;
        text-decoration: none;
        font-size:18px;
        width: 100%;
        padding:10px 15px;
    }
    nav .userContainer .account .profileDropdown li i{
        color: black;
        text-decoration: none;
        font-size:18px;
        padding: 10px 15px;

    }
    nav .userContainer .account .profileDropdown li a i{
        background-color: #dedcde;
        padding:8px;
        border-radius: 360px;
        color: black;
    }
    nav .userContainer .account .profileDropdown hr{
        background-color: gray;
        height: 2px;
        margin-left:15px;
        margin-right: 15px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    nav .userContainer .account .profileDropdown li:hover{
        background-color: #f5f5f5;
    }
    nav .userContainer .account .profileDropdown li:first-child{
        border-radius: 12px 12px 0 0 ;
    }
    nav .userContainer .account .profileDropdown li:last-child{
        border-radius: 0 0 12px 12px ;
    }
    /*About Us */
    Ou.h1{
        text-align: left;
        color: red;
    }
    h6{
        text-align: left;
        color: #1877F2;
    }

    pre.pr{
        
        text-align: right;
        position: relative;
        top:-105px;
        font-size: medium;
        left:-50px;
        display: block;
        font-family: monospace;
        white-space: pre;
        margin: 1em 0;
    } 
    .box {
        display: flex;
        justify-content: space-between;
    }
    pre{
        text-align: left;
        white-space: pre-line;
    } 
    /* Pjesa 2  */
    .cont {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card{
        background: white;
        width: 200px;
        
        margin: 10px;
        border-radius: 15px;
    } 
    .card-image{ 
        height: 150px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }
    .phone-1{
        background-image: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-14-pro-finish-select-202209-6-7inch-deeppurple?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1663703841896');
    }
    .phone-2{
    background-image:url('https://cdn.dxomark.com/wp-content/uploads/medias/post-126771/Apple-iPhone-14-Pro_FINAL_featured-image-packshot-review-1.jpg')
    }
    .phone-3{
    background-image: url('https://www.notebookcheck.net/fileadmin/Notebooks/Apple/iPhone_14_Plus/4_zu_3_Teaser_News2.jpg');
    }
    .card h2 {
        padding: 10px;
    }
    .card p{
        padding: 10px;
    }
    .card a{ 
        background-color: black;
        color: white;
        padding: 15px 20px;
        display: block;
        text-align: center;
        margin: 20px 50px;
        text-decoration: none;
    }
    .card:hover{
    background-color: blueviolet;
    color:white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
    }
    /* Pjesa 3 */

    .lead {
        margin: 75px 0;
    }
    h1{
        
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        color:#333;
        padding-bottom: 10px;
    } 
    h1::after{
        content: '';
        background: #333;
        display: block;
        height: 3px;
        width: 150px;
        margin: 10px auto;
    }
    .profile{
        margin-top:25px;

    }
    .profile .img-box{
        opacity: 1;
        display: block;
        position: relative;
    }
    img{
        border-radius: 50%;
        width:150px;
    } 
    .profile h2{
        font-size: 22px;
        font-weight: bold;
        margin-top: 15px;

   }
   .profile h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
.img-box::after{
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
    position:relative;
    right: 0;
    left:0;
    top:0;
    bottom:0;
}
.img-box ul {
    margin:0;
    padding: 20px 0;
    z-index: 1;
    display: block;
    opacity: 1 ;
    color:#1877F2;
}
.img-box ul li {
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin: 3px;
        display: inline-block;
        
}
.img-box a{
    color:#3c9b9b;
    possition:relative;
    cursor: pointer;
}

