.main .Gsidebar{
    position: sticky;
    top: 30px;
    width:324.59px;
    margin-top:30px;
    white-space: nowrap;
    height: 500px;
    overflow-y:auto;
    margin-right:4.5rem;
    transition: 0.3s ease;

}
.main .toggleGaming{
    position: sticky;
    top: 30px;
    width: 0;
    margin-right: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.Gsidebar .Filter1 .cpu h5{
    padding-top:20px;
}
.Gsidebar .Display{
    padding-top: 15px;
    padding-bottom:30px;
}


.Gsidebar li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    padding-bottom: none;
}
.Gsidebar .Filter1 li{
    font-size: 14px;
}

.wrapper{
    width: 270px;
    border-radius: 10px;
}
.wrapper header h5{
    font-weight: 600;
    padding-top: 20px;
   

}
.wrapper header p{
    margin-top: 2px;
    font-size: 13px;
}
.price-input{
    width: 100%;
    display: flex;
    margin: 10px 0 20px;
}
.price-input .field{
     height: 40px;
     width: 100%;
     display: flex;
     align-items: center;
     
}
.field input {
    width:100%;
    height: 100%;
    outline: none;
    font-size: 12px ;
    text-align: center;
    margin-left: 12px;
    border-radius: 5px;
    border: 1px solid #999;
    
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.price-input .separator{
    width: 70px ;
    display: flex;
    align-items:center;
    justify-content: center ;

}
.slider{
    height: 5px;
    border-radius: 5px;
    background: #ddd;
    position: relative;
}
.slider .progress{
    height: 5px; 
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #3c9b9b ;

}
.range-input{
    position: relative;
 
}
.range-input input{
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    pointer-events: none;
    background:none;
    appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50% ;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #3c9b9b ;
}
input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50% ;
    pointer-events: auto;
    appearance: none;
    background: #3c9b9b ;
}
.Filter1 div h5{
    font-weight:bold;
}

.Filter1 .company{
    margin-right: 0px;
}
.Gsidebar .closeGamingFilters{
    display: none;
}


/*Search in nav*/

nav .searchContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    position:relative;
    left:5rem;
}

nav .searchContainer .searchInput{
    padding: 7px;
    width: 555px;
    border-radius: 12px;
    padding-left: 50px;
    background-color: #3d3c41;
    color: white;
    border:none;
}
nav .searchContainer i{
    color: white;
    font-size:20px;
    position: absolute;
    margin-left: 15px;
}
nav .searchContainer .searchInput:focus{
    outline:none; 
}
nav .searchContainer .searchButton{
    background: #3c9b9b;
    border:none;
    color: white;
    position: absolute;
    z-index:1;
    padding: 4px 12px;
    border-radius: 10px;
    margin-left: 86.4%;
    border-bottom: 3px solid #2a6d6d;
}
nav .searchContainer .searchButton:active{
    border-bottom: none;
}

@media (max-width:1280px){
    .main .Gsidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background:#f5f5f5;
        z-index:1;
        margin: 0;
        padding: 10px;
    }
    .Gsidebar .closeGamingFilters{
        display: flex;
        justify-content: center;
        margin-top:15px;
        margin-bottom:30px;
    }
}