.main{
    display: flex;
}
.main .content{
    margin-left: 2rem;
    float:left;
    width:66%;
    margin-right: 6.5rem;
}

.main .sidebar{
    position: sticky;
    top: 0;
    width: 34%;
    float: left;
    white-space: nowrap;
    padding-left:120px;
    height: min-content;
}
.sidebar li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}
.sidebar li:first-child{
    padding-top:30px;
}
.sidebar li .fa-chevron-right{
    color:lightgray;
    cursor: pointer;
}
.sidebar li a{
    padding: 10px 10px 10px 0;
    width:100%;
    text-decoration: none;
    color:black;
    font-size: large;
}

.sidebar li:last-child{
    border: none;
}
.cardsContainer{
    flex:75%;
}
.cardsContainer .cards{
    width: 25%;
    border:none;
}
.LcardsContainer .card .cardImage{
    background-color:#f3f2f2;
}
.LcardsContainer .card .cardImage img{
    padding: 45px;
    cursor: pointer;
}
.LcardsContainer .card .cardImage button{
    width: 100%;
    border-radius: none;
    visibility: hidden;
}
.cardsContainer .card .cardImage i{
    position:absolute;
    top:10px;
    right: 10px;
    font-size:20px;
    visibility: hidden;
    cursor: pointer;
}
.cardsContainer .card .cardImage:hover button {
    padding: 45px;
    visibility: visible;
}
.cardsContainer .card .cardImage:hover i {
    visibility: visible;
}

.cardsContainer .card .container{
    margin-top: 5%;
    margin-bottom:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardsContainer .card .container h5{
    text-align: center;
 }
 
 .cardsContainer .card .container .star{  position: relative;color: #bdbdbd;}
 
 .cardsContainer .card .container .Lstar i {
   width:60%;
   overflow: hidden;
   white-space: nowrap;
 }
 .star i {
   font-size: 12px;
   white-space: nowrap;
   overflow: hidden;
   color: gold;
 }
 .star i :before { 
   content:"\2606\2606\2606\2606\2606";
   position: absolute;
   color: #bdbdbd;
   z-index: -1;
 }